DATABASE_URL="postgresql://mah:mah_dev_password@localhost:5432/mah_candle?schema=public"
ADMIN_AUTH_SECRET="replace-with-a-random-32-plus-character-secret"
CUSTOMER_AUTH_SECRET="replace-with-a-different-random-32-plus-character-secret"
